* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 200px;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

body {

    background: #E9E7D6;
}

/* navigation__section */

.navigation__container {
    margin-top: 32px;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
}

.navigation__content {
    padding: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation__logo {
    height: 25.500429153442383px;
    width: 105.175048828125px;
}

.navigation__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.navigation__bar {
    width: 358px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation__bar a {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #556561;
}

.navigation__btn {
    display: flex;
    align-items: center;
    gap: 34px;
}

.login__btn a {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #1C3F39;
}

.signup__btn a {
    width: 117px;
    height: 48px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    background: #26534C;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navigation__dash {
    margin-top: 42px;
    width: 1170px;
    height: 1px;
    background: #556561;
}

/* about__section */
.about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.about__container::before {
    content: "";
    position: absolute;
    height: 909px;
    width: 670px;
    left: 1px;
    background: url(./images/Vector.png);
    background-size: contain;
    background-position: center;
    z-index: -1;
}

.about__container::after {
    content: "";
    position: absolute;
    height: 909px;
    width: 670px;
    right: 0;
    background: url(./images/Vector.png);
    background-size: contain;
    background-position: center;
    z-index: -1;
}

.about__text_content {
    margin-top: 77px;
    width: 670px;
    height: 320px;
}

.about__header {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 62px;
    line-height: 72px;
    text-align: center;
    color: #1C3F39;
    position: relative;
}

.about__header::after {
    content: "";
    position: absolute;
    width: 203px;
    height: 94px;
    bottom: -18px;
    right: 70px;
    border: 3px solid #F2AC0D;
    border-radius: 50%;
}

.about__para {
    margin-top: 24px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #556561;
}

.about__btn_group {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    gap: 22px;
}

.about__btn1 {
    width: 160px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6.99px;
    cursor: pointer;
    background: #F2AC0D;
    border-radius: 6px;
}

.about__btn1 a {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #1C3F39;
}

.about__btn1_image {
    width: 17.01px;
    height: 16px;
}

.about__btn1 img {
    width: 100%;
    height: 100%;
}

.about__btn2 {
    width: 160px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6.99px;
    border: 1px solid #556561;
    border-radius: 6px;
}

.about__btn2 a {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #1C3F39;
}

.about__btn2__image {
    width: 17.01px;
    height: 16px;
    object-fit: contain;
}

.about__btn2__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about__image_content {
    margin-top: 70px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.about__img_1 {
    width: 670px;
    height: 444px;
    border-radius: 12px 12px 0px 0px;
}

.about__img_1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about__img_2 {
    width: 470px;
    height: 444px;
    border-radius: 12px 12px 0px 0px;
}

.about__img_2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about__statistic_content {
    width: 100%;
    height: 210px;
    background: #1C3F39;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statistic__group {
    width: 1169px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.statistic__box {
    width: 143px;
    height: 92px;
}

.statistic__box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.statistic__collum {
    width: 1px;
    height: 70px;
}

.statistic__collum img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about__holy_quran {
    margin: 170px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.holy__quran_content {
    width: 1170px;
    height: 412px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 117px;
}

.holy__quran__image {
    display: flex;
    gap: 30px;
}

.holy__quran_image1 {
    margin-bottom: 30px;
    width: 270px;
    height: 382px;
    border-radius: 12px;
}

.holy__quran_image1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.holy__quran_image2 {
    margin-top: 30px;
    width: 270px;
    height: 382px;
    border-radius: 12px;
}

.holy__quran_image2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.holy__auran_text {
    padding-left: 13px;
    width: 483px;
    height: 352px;
}

.holy__quran_header {
    margin-top: 6px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;
    color: #1C3F39;
    position: relative;
}

.holy__quran_header::after {
    content: "";
    position: absolute;
    width: 144px;
    height: 69px;
    left: -15px;
    top: -10px;
    border: 3px solid #F2AC0D;
    border-radius: 50%;
}

.holy__quran__para {
    margin-top: 20px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #556561;

}

.holy__quran__title {
    margin-top: 14px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #556561;

}

.holy__quran__btn a {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #1C3F39;
    margin-top: 28px;
    width: 160px;
    height: 54px;
    background: #F2AC0D;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* surahs__section */
.surahs__container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.surahs__content {
    width: 1170px;
    height: 797px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.surahs__header {
    width: 470px;
    height: 104px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #1C3F39;
    position: relative;
}

.surahs__header::after {
    content: "";
    position: absolute;
    width: 304px;
    height: 64px;
    left: 75px;
    border: 3px solid #F2AC0D;
    border-radius: 50%;

}

.surahs__button_group {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.surahs__left_button {
    padding: 6px;
    width: 184px;
    height: 54px;
    display: flex;
    align-items: center;
    gap: 30px;
    border: 1px solid #CCD3D2;
    border-radius: 6px;
}

.surahs__btn1 a {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 86px;
    height: 42px;
    background: #26534C;
    border-radius: 6px;
}

.surahs__btn2 a {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #1C3F39;
}

.surahs__right_button {

    display: flex;
    align-items: center;
    gap: 6px;
}

.surahs__right_button a {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #556561;
}

.surahs__right_button span {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #1C3F39;
}

.surah__btn_icon {
    height: 6px;
    width: 12px;
    display: flex;
    align-items: center;
}

.surah__btn_icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.surahs__box_group {
    margin-top: 48px;
    width: 1170px;
    height: 482px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 30px;
}

.surahs__box {
    padding: 22px;
    width: 370px;
    height: 98px;
    background: #FFFFFF;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.surahs__name_and_no {
    display: flex;
    align-items: center;
    gap: 16px;
}

.surah_no {
    width: 38px;
    height: 38px;
    background: #E9E6D7;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #605E54;
}

.surah__name_english {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #1C3F39;
    cursor: pointer;
}

.surah__title_english {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #556561;
}

.surah__name_arabic {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    color: #1C3F39;
    cursor: pointer;
}

.surah__title_arabic {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: #556561;
}

.surah__footer__bttn a {
    margin-top: 55px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #1C3F39;
    width: 160px;
    height: 54px;
    background: #F2AC0D;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* reciters__section */
.reciters__container {
    position: relative;
}

.reciters__contain {
    margin-top: 170px;
    width: 100%;
    height: 592.57px;
    background: #1C3F39;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 130px;
}

.reciters__images_group {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.reciters__image1 {
    width: 200px;
    height: 380px;
    border-radius: 8px;
}

.reciters__image1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.reciters__image2 {
    width: 200px;
    height: 380px;
    border-radius: 8px;
}

.reciters__image2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.reciters__image3 {
    width: 370px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.reciters__image3::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(./images/unsplash_fkgsW3bhFzU.png);
    background-position: center;
    background-size: contain;
    z-index: 1;
    opacity: 0.8;
}

.shayekh__name {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
}

.shayekh__title {
    margin-top: 4px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
}

.shayekh__btn {
    margin-top: 18px;
    margin-bottom: 28px;
    width: 160px;
    height: 54px;
    background: #F2AC0D;
    border-radius: 6px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #1C3F39;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
}

.reciters__text_group {
    margin-bottom: 118px;
    width: 370px;
    height: 266px;
}

.reciters__title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;
    color: #FFFFFF;
    position: relative;
}

.reciters__title::after {
    content: "";
    position: absolute;
    width: 188px;
    height: 64px;
    left: 155px;
    bottom: -12px;
    border: 3px solid #F2AC0D;
    border-radius: 50%;
}

.reciters__para {
    margin-top: 20px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #B7CBC7;
}

.reciters__arrow__group {
    margin-top: 38px;
    width: 188px;
    height: 48px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.arrow__arrow1 {
    width: 48px;
    height: 48px;
    border: 1px solid #B7CBC7;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow__arrow2 {
    background: #FFFFFF;
    width: 48px;
    height: 48px;
    border: 1px solid #B7CBC7;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    height: 8px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.arrow img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.reciters__dooted {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dooted__image {
    height: 8px;
    width: 8px;
}

.dooted__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.eillipse {
    position: absolute;
    bottom: 120px;
    right: 30px;
    width: 174px;
    height: 87px;
}

/* blog__section */
.blog__container {
    padding-top: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
}

.blog__header {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #1C3F39;
    position: relative;
}

.blog__header::after {
    content: "";
    position: absolute;
    width: 112px;
    height: 61px;
    top: -5px;
    right: -20px;
    border: 3px solid #F2AC0D;
    border-radius: 50%;
}

.blog__title {
    margin-top: 20px;
    width: 430px;
    height: 56px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #556561;
}

.blog__content {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.blog__content_box {
    padding: 19px;
    display: flex;
    gap: 29px;
    width: 570px;
    height: 286px;
    background: #FFFFFF;
    box-shadow: 0px 18px 56px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
}

.blog__box_image {
    width: 234px;
    height: 248px;
    border-radius: 8px;
}

.blog__box_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog__text_box {
    padding: 17px 0;
}

.blog__text_header {
    width: 269px;
    height: 60px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #1C3F39;
}

.blog__text_dash {
    margin-top: 18px;
    width: 35px;
    height: 2px;
    background: #26534C;
    border-radius: 1px;
}

.blog__text_para {
    width: 269px;
    height: 72px;
    margin-top: 22px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #556561;
}

.blog__text_readnow {
    margin-top: 16px;
}

.blog__text_readnow a {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #F2AC0D;
}

.blog__text_readnow2 {
    margin-top: 16px;
}

.blog__text_readnow2 a {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #1C3F39;
}

.islamic__readall_btn {
    margin-top: 55px;
    margin-bottom: 170px;
}

.islamic__readall_btn a {
    width: 160px;
    height: 54px;
    background: #F2AC0D;
    border-radius: 6px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #1C3F39;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ict__section */
.ict__container {
    width: 100%;
    height: 458px;
    background: #1C3F39;
    position: relative;
}

.ict__container::before {
    content: "";
    position: absolute;
    height: 457.3666687011719px;
    width: 544px;
    top: 0;
    left: 35px;
    background: url(./images/Vector\ \(1\).png);
    background-position: center;
    background-size: contain;
    /* z-index: 1; */
}

.ict__container::after {
    content: "";
    position: absolute;
    height: 457.3666687011719px;
    width: 544px;
    top: 0;
    right: 35px;
    background: url(./images/Vector\ \(1\).png);
    background-position: center;
    background-size: contain;
}

.ict__content {
    width: 100%;
    height: 458px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ict__header {
    width: 670px;
    height: 104px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
    position: relative;
}

.ict__header::after {
    content: "";
    position: absolute;
    width: 112px;
    height: 61px;
    bottom: -10px;
    right: 265px;
    border: 3px solid #F2AC0D;
    border-radius: 50%;
    /* z-index: 1; */
}

.ict__title {
    margin-top: 20px;
    width: 570px;
    height: 56px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #B7CBC7;
    z-index: 1;
}

.ict__image__group {
    margin-top: 38px;
    width: 271px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.ict__image {
    width: 135px;
    height: 40px;
    border-radius: 5px;
    z-index: 1;
    cursor: pointer;
}

.ict__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* footer__section */
.footer__container {
    margin-top: 70px;
    margin-bottom: 28px;
    margin-left: 135px;
    margin-right: 135px;
    height: 421px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.footer__content {
    display: flex;
}

.footer__group1 {
    width: 248px;
    margin-right: 77px;
}

.footer__logo {
    width: 105.18px;
    height: 25.5px;
}

.footer__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer__group1__title {
    margin-top: 16.5px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #556561;
}

.footer__icons_group {
    margin-top: 23px;
    display: flex;
    align-items: center;
    gap: 18px;
}

.icon {
    width: 42px;
    height: 42px;
    background: #D1CDB7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.icon:nth-child(2) {
    background: #F2AC0D;
}

.icon i {
    font-size: 20px;
    color: #1C3F39;
    display: flex;
    align-items: center;
    justify-content: center;
}

.group__header {
    margin-bottom: 12px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #1C3F39;
}

.group__title {
    margin-top: 10px;
}

.group__title a {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #556561;
}

.footer__group2 {
    margin-right: 77px;
}

.footer__group3 {
    margin-right: 90px;
}

.footer__group4 {
    margin-right: 77px;
}

.fixed__icon {
    position: absolute;
    width: 48px;
    height: 48px;
    right: 0;
    top: 304px;
    background: #26534C;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fixed {
    height: 8px;
    width: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.fixed img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer__dash {
    margin-top: 56px;
    width: 100%;
    border: 1px solid #556561;
}

.footer__pro {
    width: 71px;
    height: 28px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.footer__pro a {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #556561;
}

.pro__arrow {
    width: 10px;
    height: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pro__arrow img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}